{{ define "head" }}
<title>Forgot your password?</title>
{{end}}

{{define "content"}}
    <form class="form-signin" action="" method="post">
        <input type="hidden" name="__csrf" value="{{.csrf}}"/>
        <input type="hidden" id="browserfingerprint" name="browser_fingerprint" value="{{.csrf}}"/>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>
        </div>

        {{ include "flashes" }}
        <div class="form-label-group">
            <input type="email" id="inputEmail" name="email" autocomplete="email" class="form-control"
                   placeholder="Email" required
                   autofocus>
            <label for="inputEmail">Email</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover my account</button>
        <p class="text-center p-2"><a href="/login">I have an account</a></p>

    </form>
{{end}}