{{ define "head"}}
    <title>Welcome</title>
{{end}}
{{ define "content"}}

    <form class="form-signin" action="" method="post">
        <input type="hidden" name="__csrf" value="{{.csrf}}"/>
        <input type="hidden" id="browserfingerprint" name="browser_fingerprint" value="{{.csrf}}"/>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
        </div>

        {{ include "flashes" }}
        <div class="form-label-group">
            <input type="text" id="inputUsername" name="username" autocomplete="username" class="form-control"
                   placeholder="Username" required
                   autofocus>
            <label for="inputUsername">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" autocomplete="current-password" name="password" id="inputPassword"
                   class="form-control" placeholder="Password"
                   required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" value="remember-me"> Remember me
            </label>
        </div>

        <div class="mb-3 mt-1">
            <a href="/forget" class="">Forgot Password?</a>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="text-center p-2"><a href="/register">Create an Account</a></p>


    </form>
{{end}}