{{ define "head"}}
    <title>Welcome</title>
{{end}}
{{ define "content"}}

    <form class="form-signin" action="" method="post">
        <input type="hidden" name="__csrf" value="{{.csrf}}"/>
        <input type="hidden" id="browserfingerprint" name="browser_fingerprint" value="{{.csrf}}"/>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Updating Password</h1>
        </div>

        {{ include "flashes" }}
        <div class="form-label-group">
            <input type="password" autocomplete="new-password" name="password" id="inputPassword1"
                   class="form-control" placeholder="Password"
                   required>
            <label for="inputPassword1">Password</label>
        </div>

        <div class="form-label-group">
            <input type="password" autocomplete="new-password" name="confirm_password" id="inputPassword2"
                   class="form-control" placeholder="Confirm Password"
                   required>
            <label for="inputPassword2">Confirm Password</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>


    </form>
{{end}}