<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="../assets/main.css">


    {{template "head" .}}
</head>

<body>
{{template "content" .}}

<script src="https://cdn.jsdelivr.net/npm/fingerprintjs2@2.1.0/dist/fingerprint2.min.js"
        integrity="sha384-UxnJUeaUHFTScXFSpWAeq3BsPELZB9qc8o37yeXwfLcAfOhSoirtOIyu4k6GU9lk"
        crossorigin="anonymous"></script>
<script>
    if (window.requestIdleCallback) {
        requestIdleCallback(function() {
            Fingerprint2.get(function(components) {
                var values = components.map(function (component) { return component.value })
                var murmur = Fingerprint2.x64hash128(values.join(''), 31)
                document.getElementById("browserfingerprint").value = murmur;
                try {
                    document.getElementById("browserfingerprint").value = murmur;
                }catch(e) {}
            })
        })
    } else {
        setTimeout(function() {
            Fingerprint2.get(function(components) {
                var values = components.map(function (component) { return component.value })
                var murmur = Fingerprint2.x64hash128(values.join(''), 31)
                try {
                    document.getElementById("browserfingerprint").value = murmur;
                }catch(e) {}
            });
        }, 500);
    }
</script>
</body>

</html>